<!DOCTYPE html>
<html lang="it-IT">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>IronWorks - Web Application</title> <!-- from detail to general -->

    <!-- meta -->
    <meta name="description" content="Applicazione web per la realizzazione di diagrammi di robustezza e generazione automatica di codice Java e SQL."/> <!-- max 150 char -->
    <meta name="keywords" content="diagrammi di robustezza,editor,java,sql,applicazione web,swearoncode"/> <!-- max 10 -->
    <meta name="author" content="SwearOnCode"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex, nofollow"/>

    <!-- font -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- favicon -->
    <link rel="shortcut icon" href="../Model/FirstPages/HomePage/images/favicon.ico"/>

    <!-- script -->
    <script type="text/javascript" src="../ExternalLibraries/scripts/jquery.js"></script>
    <script type="text/javascript" src="../Controller/FirstPages/firstpages.js"></script>
</head>

<body onload="getHomePage()">
    <noscript>
        IronWorks è un'applicazione web che necessita dell'utilizzo di JavaScript per un suo corretto
        funzionamento.<br/>
        Si prega di abilitarlo nel browser e riprovare.<br/><br/>
        Il team di sviluppo: <em>SwearOnCode</em>
    </noscript>
</body>

</html>